
<div class="container">

  <div class="row">
    <div class="col-md-12 homepage-top-banner">
      <div class="container">
        <div class="row">

          <div class="col-xs-12">
            <!-- REGISTRATION FORM -->
            <div class="form">
              <div ng-if="showRegister">
              <h5>Register now to benefit from increased productivity.</h5>
              <form name="registerForm">

                <input ng-model="registerUsername" name="username" type="text" placeholder="username" required />
                <div ng-messages="registerForm.username.$error" role="alert">
	                <div ng-messages-include="validation_errors.html"></div>
                </div>

                <br><br>

                <input ng-model="registerPass" name="pass" type="password" ng-maxlength="72" placeholder="password" required />
                <div ng-messages="registerForm.pass.$error" role="alert">
	                <div ng-messages-include="validation_errors.html"></div>
                </div>

                <br><br>

                <input ng-model="registerPassCon" match="registerPass" name="confirmPass" type="password" placeholder="confirm password" required />
                <div ng-messages="registerForm.confirmPass.$error" role="alert">
	                <div ng-messages-include="validation_errors.html"></div>
                </div>

                <br><br>

                <button ng-disabled="registerForm.$invalid"
                        ng-click="registerUser()"
                        class="btn-success"
                        type="button">Register</button>
              </form>

              <p> Already have an account?
                <button class="form-link" ng-click="toggleForms()">
                  Sign in now.
                </button>
              </p>
             </div>

             <div ng-if="!showRegister">
             Login now to benefit from increased productivity.
             <form name="loginForm">

               <input ng-model="loginUsername" name="username" type="text" placeholder="username" required>
               <div ng-messages="loginForm.username.$error" role="alert">
                <div ng-messages-include="validation_errors.html"></div>
               </div>

               <br><br>

               <input ng-model="loginPassword" name="password" type="password" placeholder="password" required>
               <div ng-messages="loginForm.password.$error" role="alert">
                <div ng-messages-include="validation_errors.html"></div>
               </div>

               <br><br>
               <button ng-click="loginUser()" class="btn-success" type="button">Sign in</button>
             </form>
             <p> Don't have an account?
               <button class="form-link" ng-click="toggleForms()">
                 Sign up now.
               </button>
             </p>
            </div>

            </div>

          </div> <!--/COL-->
        </div> <!--/ROW-->
      </div> <!--/CONTAINER-->
    </div> <!-- /HOMEPAGE-TOP-BANNER-->
  </div> <!-- /ROW-->

  <div class="greeting">
    <h1> Create an account now to organise your learning and
    boost your productivity. Infodump allows you to
    organise your topics, create to do lists, collaborate with
    other learners and more. </h1>
  </div>

</div> <!-- /CONTAINER-->
